[submodule "skyelib"]
	path = skyelib
	url = https://gitlab.org/BiriBiri12/skyelib.git
	branch = master
[submodule "timercpp"]
	path = timercpp
	url = https://github.com/99xt/timercpp.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
